.styling-for-mahajong-game {
    text-decoration: underline; 
    text-align: center;
}

.styling-for-score-and-time {
    display: flex;
}

.margin-left-for-score {
    margin-left: 60px;
}

.margin-left-for-time {
    margin-left: 1000px;
}

.box-for-board {
    width: 90%; 
    border-style: solid; 
    border-color: black; 
    height: 500px; 
    margin-left: 60px;
}

.styling-of-getting-name {
    text-decoration: underline;
    text-align: right;
}

.unordered-list {
    display: flex;
    flex-wrap: wrap;
}